{% extends 'base.html' %}

{% block title %}
    ecom | erge.one
{% endblock %}


{% block content %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for item in object_list %}
                    <div class="col-lg-3 col-sm-4 mb-3">
                        <div class="product-card ">

                            <div class="product-thumb">
                                <a href="{{ item.get_item_url }}"><img src="{{ item.image.url }}" alt=""/></a>
                            </div>

                            <div class="product-details">
                                <h4><a href="{{ item.get_item_url }}">{{ item.title }}</a></h4>
                                <p>
                                    {{ item.description }}
                                </p>

                                <div class="product-bottom-details d-flex justify-content-between">
                                    {% if item.discount_price %}
                                        <div class="product-price"><small>{{ item.price }} ₴</small>
                                            {{ item.discount_price }} ₴
                                        </div>
                                    {% else %}
                                        <div class="product-price">{{ item.price }} ₴
                                        </div>
                                    {% endif %}

                                    <div class="product-links">
                                        <a href="{{ item.get_add_to_cart }}"><i
                                                class="fa-solid fa-cart-shopping"></i></a>
                                        <a href=""><i class="fa-regular fa-heart"></i></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}



